.App {
  text-align: center;
  font-family: monospace !important;
  background-attachment: fixed !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* 
global-color-primary: #FFCDCB;
    --e-global-color-secondary: #162098; */

.bg-danger {
  background-color: #ff7879 !important;
  color: #fff !important;
  text-shadow: 0px 0px 2px #002e5d;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.seperator {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navbar */

.navbar-brand, .nav-link {
  color: #fff !important;
  font-style: italic;
}

@media only screen and (min-width: 366px) and (max-width: 464px) {
  .navbar-brand h2 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 281px) and (max-width: 365px) {
  .navbar-brand h2 {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 0px) and (max-width: 280px) {
  .navbar-brand h2 {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 0px) and (max-width: 464px) {
  .navbar-toggler {
    font-size: 1rem;
    padding: 0.1rem;
  }
}

/* ---- Navbar ----- */

/* Timer */

.timer {
  background: #fff;
  box-shadow: rgb(235 56 56 / 35%) 0px 15px 30px;
  padding: 2rem;
}

.count-box {
  color: #162098;
  text-shadow: 2px 2px #ebebeb;
}

.count-box p {
  color: #ff7879;
  font-size: 2rem;
}

/* --------Timer------------ */

/* Banner */

.banner {
  background-size: 100% auto !important;
  background-repeat: no-repeat !important;
  height: 100vh;
}


@media only screen and (min-width: 0px) and (max-width: 464px) {
  .banner {
    height: 30vh;
  }
}

/* ------Banner---------- */
.savethedate{
  height: 60vh;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center !important;
}
/* Bridegroom */

.bridegroom-name{
  color:#162098;
  font-size: 2rem;
  text-shadow: 2px 2px #ebebeb;
}
.social-media-section {
  margin-top: 20px;
}

.social-media-section i {
  font-size: x-large;
}

.fa-facebook {
  color: #3b5998;
}

.fa-instagram {
  color: #c30081
}

.fa-linkedin {
  color: #0a66c2
}

.bridegroom-image {
  /* height: 175vh; */
}
.bridegroom-image { transition: all .2s ease-in-out; }
.bridegroom-image:hover { transform: scale(1.1); }

/* ------Bridegroom---------- */

.card-header{
  background-color:#ff7879!important;
  color: #fff !important;
  text-shadow: 0px 0px 2px #002e5d;
  font-size: 1.5rem;
}