.App {
  text-align: center;
  font-family: monospace !important;
  background-attachment: fixed !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* 
global-color-primary: #FFCDCB;
    --e-global-color-secondary: #162098; */

.bg-danger {
  background-color: #ff7879 !important;
  color: #fff !important;
  text-shadow: 0px 0px 2px #002e5d;
}

.section-header {
  color: #162098;
  font-family: monospace !important;
  font-size: xxx-large;
  text-shadow: 2px 2px #ebebeb;
}

.item-heading {
  color: #ff7879 !important;
  font-style: italic;
  font-family: monospace !important;
  font-size: xxx-large;
  text-shadow: 0px 0px 2px #860b1c;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.seperator {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navbar */

.navbar-brand, .nav-link {
  color: #fff !important;
  font-style: italic;
}

.nav-item a {
  cursor: pointer;
}

@media only screen and (min-width: 366px) and (max-width: 464px) {
  .navbar-brand h2 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 281px) and (max-width: 365px) {
  .navbar-brand h2 {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 0px) and (max-width: 280px) {
  .navbar-brand h2 {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 0px) and (max-width: 464px) {
  .navbar-toggler {
    font-size: 1rem;
    padding: 0.1rem;
  }
}

/* ---- Navbar ----- */

/* Timer */

.timer {
  background: #fff;
  box-shadow: rgb(235 56 56 / 35%) 0px 15px 30px;
  padding: 2rem;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.count-box {
  color: #162098;
  text-shadow: 2px 2px #ebebeb;
}

.time-type:hover {
  transform: scale(1.5);
}

.count-box p {
  color: #ff7879;
  font-size: 2rem;
}

@media only screen and (min-width: 351px) and (max-width: 464px) {
  .count-box p {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 0px) and (max-width: 350px) {
  .count-box p {
    font-size: 1rem;
  }
}

/* --------Timer------------ */

/* Banner */

.banner {
  background-size: 100% auto !important;
  background-repeat: no-repeat !important;
  height: 100vh;
}

@media only screen and (min-width: 0px) and (max-width: 464px) {
  .banner {
    height: 30vh;
  }
}

/* ------Banner---------- */

.savethedate {
  height: 60vh;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center !important;
}

@media only screen and (min-width: 0px) and (max-width: 545px) {
  .savethedate {
    background-size: 310px !important;
    background-attachment: unset !important;
  }
}

/* Bridegroom */

.bridegroom-name {
  font-size: 2rem;
  text-shadow: 2px 2px #ebebeb;
}

.social-media-section {
  margin-top: 20px;
}

.social-media-section i {
  font-size: x-large;
}

.fa-facebook {
  color: #3b5998;
}

.fa-instagram {
  color: #c30081;
}

.fa-linkedin {
  color: #0a66c2;
}

.bridegroom-image {
  transition: all 0.2s ease-in-out;
  box-shadow: rgb(235 56 56 / 35%) 0px 15px 30px;
}

.bridegroom-image:hover {
  transform: scale(1.1);
}

.bride-groom-description {
  padding: 2rem 0;
  color: #162098;
  font-family: monospace !important;
  font-size: 1rem;
  font-style: italic;
  text-align: justify;
  padding: 1rem;
}

/* ------Bridegroom---------- */

.card-header {
  background-color: #ff7879 !important;
  color: #fff !important;
  text-shadow: 0px 0px 2px #002e5d;
  font-size: 1.5rem;
}

/* Timeline */

.hori-timeline .events {
  border-top: 1px solid #ff7879;
}

.hori-timeline .events .event-list {
  display: block;
  position: relative;
  text-align: center;
  padding-top: 70px;
  margin-right: 0;
}

.hori-timeline .events .event-list:before {
  content: "";
  position: absolute;
  height: 36px;
  border-right: 2px dashed#ff7879;
  top: 0;
}

.hori-timeline .events .event-list .event-date {
  position: absolute;
  top: 38px;
  left: 0;
  right: 0;
  width: 75px;
  margin: 0 auto;
  border-radius: 4px;
  padding: 2px 4px;
}

@media (min-width: 1140px) {
  .hori-timeline .events .event-list {
    display: inline-block;
    width: 24%;
    padding-top: 45px;
  }
  .hori-timeline .events .event-list .event-date {
    top: -12px;
  }
}

.bg-soft-primary {
  background-color: rgba(64, 144, 203, 0.3) !important;
}

.bg-soft-success {
  background-color: rgba(71, 189, 154, 0.3) !important;
}

.bg-soft-danger {
  background-color: rgba(231, 76, 94, 0.3) !important;
}

.bg-soft-warning {
  background-color: rgba(249, 213, 112, 0.3) !important;
}

.card {
  border: none;
  margin-bottom: 24px;
  -webkit-box-shadow: 0 0 13px 0 rgba(236, 236, 241, 0.44);
  box-shadow: 0 0 13px 0 rgba(236, 236, 241, 0.44);
}

.ceremony {
  font-family: monospace !important;
}

.ceremont-text {
  padding: 2rem 0;
  font-family: monospace !important;
  font-size: 1rem;
  font-style: italic;
}

.ceremony-mehendi, .ceremony-mehendi-text {
  color: green;
}

.ceremony-haldi, .ceremony-haldi-text {
  color: rgb(255, 174, 0);
  text-shadow: 0px 0px 1px #97adc5;
}

.ceremony-wedding, .ceremony-wedding-text {
  color: red;
}

.ceremony-reception, .ceremony-reception-text {
  color: rgb(7, 100, 221);
}

.event-image:hover {
  transform: scale(1.1);
}

.mehendi-image {
  box-shadow: rgb(161 187 17 / 70%) 0px 9px 35px;
}

.haldi-image {
  box-shadow: #fff70c 0px 9px 35px;
}

.wedding-image {
  box-shadow: #ff6e4d 0px 9px 35px;
}

.reception-image {
  box-shadow: rgb(17 46 187 / 70%) 0px 9px 35px;
}

.wedding-timeline {
  box-shadow: rgb(235 56 56 / 35%) 0px 15px 30px;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.event-date {
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

.bg-soft-info {
  background-color: rgb(130 213 241 / 30%) !important;
}

footer .fa {
  text-shadow: 0 0 0 black;
  padding-left: 1rem;
}

.social-media-section {
  padding: 2rem 0;
}

.when-and-where .card {
  box-shadow: rgb(235 56 56 / 35%) 0px 15px 30px;
}

.when-and-where .card-header {
  font-style: italic;
}

.address {
  padding: 2rem 0;
  color: #162098;
  font-family: monospace !important;
  font-size: 1rem;
  font-style: italic;
}

.location-frame {
  height: 600px;
  width: 400px;
  ;
}

@media only screen and (min-width: 360px) and (max-width: 545px) {
  .location-frame {
    height: 500px;
    width: 300px;
    ;
  }
}

@media only screen and (min-width: 259px) and (max-width: 359px) {
  .location-frame {
    height: 400px;
    width: 200px;
    ;
  }
}

@media only screen and (min-width: 0px) and (max-width: 258px) {
  .location-frame {
    height: 400px;
    width: 150px;
    ;
  }
}

@keyframes example {
  /* 0%   {width:0%;}
  25%  {width:25%;}
  50%  {width:50%;}
  75%  {width:75%;}
  100% {width:100%;} */
  0% {
    transform: scale(1.1)
  }
  ;
  1000% {
    transform: scale(1)
  }
  ;
}