.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navbar */

@media only screen and (min-width: 366px) and (max-width: 464px) {
.navbar-brand h2{
  font-size: 1.5rem;
}
}

@media only screen and (min-width: 281px) and (max-width: 365px) {
  .navbar-brand h2{
    font-size: 1rem;
  }
  }
  @media only screen and (min-width: 0px) and (max-width: 280px) {
    .navbar-brand h2{
      font-size: 0.8rem;
    }
    }

    @media only screen and (min-width: 0px) and (max-width: 464px) {
      .navbar-toggler{
        font-size: 1rem;
        padding: 0.1rem;
      }
      }
      

/* ---- Navbar ----- */